* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: "Press Start 2P", serif;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
}

a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}

a, button, input, select {
	pointer-events: auto;
}

.lil-gui {
	z-index: 2 !important; /* TODO Solve this in HTML */
}

@media all and ( max-width: 640px ) {
	.lil-gui.root { 
		right: auto;
		top: auto;
		max-height: 50%;
		max-width: 80%;
		bottom: 0;
		left: 0;
	}
}

#title{
	font-size: 30px;
	max-width: 300px;
	line-height: 1.2;
	text-transform: uppercase;
	text-align: center;
}

#title span{
	font-size: 15px;
	display: block;
	letter-spacing: 0;
	margin-top: 10px;
	font-weight: 400;
}

#curtain{
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000000;
	opacity: 1;
    -webkit-transition: opacity 1000ms linear;
    transition: opacity 1000ms linear;
}

#subtitles{
	position: absolute;
	z-index: 5;
	bottom: 30px;
	font-size: 18px;
	left: 0;
	width: 100%;
	text-align: center;
	color: #ffffff;
	padding: 10px;
}

#overlay {
	position: absolute;
	font-size: 16px;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(0,0,0,0.7);
	display: none;
	opacity: 1;
    -webkit-transition: opacity 1000ms linear;
    transition: opacity 1000ms linear;
}

	#overlay button {
		background: transparent;
		border: 0;
		border: 1px solid rgb(255, 255, 255);
		border-radius: 100%;
		color: #ffffff;
		padding: 35px 18px;
		text-transform: uppercase;
		cursor: pointer;	
		font-size: 10px;
		font-family: "Press Start 2P", serif;
	}

#notSupported {
	width: 50%;
	margin: auto;
	background-color: #f00;
	margin-top: 20px;
	padding: 10px;
}

#game-container{
	position: fixed;
	bottom: 0px;
	left: 0px;
	z-index: 100;
	text-transform: uppercase;
	padding: 30px;
	font-size: 12px;
}

#game-container h2{
	position: fixed;
	top: 20px;
	font-size: 15px;
	width: 500px;
	left: 50%;
	margin: 0px;
}

#game-container p.question{
	position: fixed;
	right: 50%;
	top: 20px;
	margin: 0px;
	font-size: 15px;
	padding-right: 20px;
	width: 400px;
	text-align: right;
	color: #373033;
	line-height: 1.5;
}

@media all and ( max-width: 640px ) {
	#game-container p.question{
		display: none;
	}

	#game-container h2{
		width: auto;
		left: 0px;
		padding: 30px;
	}

}

#game-container p{
	max-width: 800px;
}

#game-container button{
	background: none;
	font-family: "Press Start 2P", serif;
	padding: 20px;
	color: #ffffff;
	border-color: #ffffff;
	margin-right: 5px;
}

#game-container button:hover{
	background: rgba(255,255,255,0.2);
}

#game-container button.back{
	opacity: 0.4;
	border: none;
}